* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}
.App {
  text-align: center;
  background: #f7efef;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.App-logo {
  width: 82px;
  pointer-events: none;
  margin-left: 30px;
}
.container {
  width: 550px;

  overflow: hidden;
  height: calc(100vh - 30px);
  border-radius: 8.95px;
  margin: 15px;
  background: #fff;
}
.App-header {
  background-color: #fff;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}
.App-link {
  color: #61dafb;
}
.images {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 77px;
  margin-bottom: 32px;
}
.image {
  margin-bottom: 9px;
}
.pan {
  margin-top: 75px;
}
.woman {
  margin-top: 33px;
}
.dish {
  margin-top: 56px;
}
.microphone {
  margin-top: 26px;
}
.yoga {
  margin-top: 44px;
}
.text-in-hero-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 36px;
  margin-bottom: 49px;
}
h1 {
  font-weight: 600;
  font-size: 36px;
  line-height: 110%;
  color: #000000;
  margin-bottom: 16px;
}
.text-in-hero-section p {
  text-align: left;
  margin-top: 0;
  max-width: 320px;
  font-weight: 300;
  font-size: 16px;
  line-height: 110%;
  color: #222222;
}

/* Cards */
.cards {
  padding-left: 37px;
  display: flex;
  gap: 18px;
  overflow-x: scroll;
  overflow-y: hidden;
  margin-top: 10px;
  padding-bottom: 10px;
}
.card {
  width: 176px;
  text-align: left;
  position: relative;
}
.card--image {
  /* background: url("./images/image\ 12.png") center; */
  background-size: cover;
  width: 176px;
  height: 235px;
  border-radius: 9px;
  /* padding: 6px 8px; */
  margin-bottom: 9px;
}
.card--image > img {
  max-width: 100%;
  margin: 0;
}
.card--image-status {
  width: 61px;
  height: 20px;
  background: #ffffff;
  border-radius: 2px;
  font-weight: 400;
  font-size: 10.24px;
  line-height: 110%;
  text-align: center;
  padding: 5px 6px;
  top: 5px;
  left: 5px;
  position: absolute;
}
.card--image-status p {
  margin: 0;
}
.rating {
  display: flex;
  align-items: center;
  gap: 2px;
  margin-bottom: 8px;
}
.rate,
.place,
.dot,
.country,
.description--text,
.description--price,
.persons {
  font-weight: 300;
  font-size: 12px;
  line-height: 110%;
  color: #222222;
}
.dot {
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background: #918e9b;
}
.place,
.country {
  color: #918e9b;
}
.rating .star-icon {
  width: 14px;
  height: 14px;
  background: url("./images/icons/star.png") no-repeat center;
  background-size: 80%;
}
.description--text {
  margin-bottom: 8px;
}
.description--price {
  font-weight: 600;
}
